[submodule "lib/solidity-utils"]
	path = lib/solidity-utils
	url = https://github.com/bgd-labs/solidity-utils
[submodule "lib/aave-helpers"]
	path = lib/aave-helpers
	url = https://github.com/bgd-labs/aave-helpers
[submodule "lib/aave-address-book"]
	path = lib/aave-address-book
	url = https://github.com/bgd-labs/aave-address-book
	branch = v1.5.0
